In [2]:
import os
import sys
sys.path.append(os.path.abspath(os.path.join('..')))

from src.dataset import load_bank_marketing_data

In [3]:
X, y, s = load_bank_marketing_data( path= "../datasets/bank/raw", sensitive_attribute="age" )

In [4]:
X

,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,job_admin.,...,month_oct,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success
0,261,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0,...,0,0,0,1,0,0,0,0,1,0
1,149,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0,...,0,0,0,1,0,0,0,0,1,0
2,226,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0,...,0,0,0,1,0,0,0,0,1,0
3,151,1,999,0,1.1,93.994,-36.4,4.857,5191.0,1,...,0,0,0,1,0,0,0,0,1,0
4,307,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,334,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,0,...,0,0,1,0,0,0,0,0,1,0
41184,383,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,0,...,0,0,1,0,0,0,0,0,1,0
41185,189,2,999,0,-1.1,94.767,-50.8,1.028,4963.6,0,...,0,0,1,0,0,0,0,0,1,0
41186,442,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,0,...,0,0,1,0,0,0,0,0,1,0
41187,239,3,999,1,-1.1,94.767,-50.8,1.028,4963.6,0,...,0,0,1,0,0,0,0,1,0,0

In [5]:
X.dtypes

duration                  int64
campaign                  int64
pdays                     int64
previous                  int64
emp.var.rate            float64
                         ...
day_of_week_tue           uint8
day_of_week_wed           uint8
poutcome_failure          uint8
poutcome_nonexistent      uint8
poutcome_success          uint8
Length: 62, dtype: object

In [4]:
s

       sex
0        1
1        1
2        1
3        1
4        0
...    ...
16276    0
16277    1
16278    1
16279    1
16280    1

[48842 rows x 1 columns]